<div class="question-challange">
    <p>Answer the following question:</p>
    <p>{{ question.text }}</p>
    
    <!-- Form wrapping the input and button -->
    <form (ngSubmit)="checkAnswer()">
        <input type="text" class="userAnswer" [(ngModel)]="userAnswer" name="userAnswer">
        <button class="buttoncss" type="submit">Submit</button>
    </form>

    <p *ngIf="errorMessage">{{ errorMessage }}</p>
    <!-- <p *ngIf="!isCorrect && wrongAnswer">Wrong answer, try again.</p> -->
</div>