// :host {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     height: 100%;
// }

// .buttoncss {
//     background-color: #b6b5b5;
//     border: none;
//     color: rgb(0, 82, 117);
//     padding: 4px 5px;
//     text-align: center;
//     text-decoration: none;
//     display: inline-block;
//     font-size: 16px;
//     border-radius: 5px;
// }

// .buttoncss:hover {
//     background-color: rgb(0, 82, 117);
//     color: rgb(180, 1, 1);
//     box-shadow: 0 5px 15px rgba(145, 92, 182, 0.4);
// }

:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.buttoncss {
    background-color: #b6b5b5;
    border: none;
    color: rgb(0, 82, 117);
    padding: 10px 20px; /* Adjusted for better touch targets on mobile */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    margin: 5px; /* Added some margin for spacing */
}

.buttoncss:hover {
    background-color: rgb(0, 82, 117);
    color: rgb(180, 1, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, 0.4);
}

/* Medium devices (tablets) */
@media (min-width: 600px) {
    .buttoncss {
        padding: 6px 8px;
        font-size: 16px;
    }
}

/* Large devices (desktops) */
@media (min-width: 768px) {
    .buttoncss {
        padding: 4px 5px;
        font-size: 14px;
    }

    :host {
        flex-direction: row;
        padding: 20px;
    }
}
