:host {
    display: block;
}


.buttoncss {
    background-color: #b6b5b5;
    border: none;
    color: rgb(0, 82, 117);
    padding: 4px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}

.buttoncss:hover {
    background-color: rgb(0, 82, 117);
    color: rgb(180, 1, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, 0.4);
}

